.container {
  display: grid;
  gap: 10px;

  grid-template-areas:
    "navbar navbar"
    "sidebar content";
}

.container__navbar {
  display: flex;
  grid-area: navbar;
  flex-direction: row;
  gap: 10px;
}

.container__navbar--featured {
  flex: 1;
}

.container__navbar--second {
  text-align: end;
}

.container__sidebar {
  grid-area: sidebar;
}

.container__content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #5b6dcd 10px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 100px 50%;
  }

  .container__navbar {
    flex-direction: column;
    gap: 0px;
  }

  .container__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .container__navbar--second {
    text-align: start;
  }
}
